/* Fuentes de Facebook */
@font-face {
    font-family: 'Facebook';
    src: url('../fuentes/facebook.otf');
  }
  
  :root {
      --facebookColor: #3b599a;
  }
  
  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  
  body {
      font-family: 'Arial';
      background: #eaebef;
  }
  
  img {
      max-width: 100%;
  }
  
  .contenedor {
      max-width: 1200px;
      width: 90%;
  }
  .header {
      background: var(--facebookColor);
  }
  
  .header .logo h2 {
      font-family: 'Facebook', sans-serif;
      font-size: 50px;
      color: #fff;
      margin-left: 20px;
      padding: 10px 0;
  }
  
  .contenido {
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .formulario {
      background: #fff;
      padding: 30px 100px;
      width: 40%;
  }
  .formulario h3 {
      font-weight: 300;
      text-align: center;
      margin: 20px 0;
  }
  
  .campo {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
  }
  
  input {
      display: block;
      border: 2px solid #f2f2f2;
      border-radius: 2px;
      padding: 15px;
      width: 100%;
      font-size: 18px;
  }
  
  input:focus {
      outline: none;
  }
  
  .boton {
      display: block;
      background: var(--facebookColor);
      padding: 20px;
      color: #fff;
      font-size: 20px;
      width: 100%;
      margin-top: 30px;
      border: none;
      cursor: pointer;
  }
  
  .formulario__footer {
      display: flex;
      justify-content: space-evenly;
      margin-top: 10px;
  }
  
  .formulario__footer a {
      text-decoration: none;
      color: var(--facebookColor);
  }
  
  @media screen and (max-width: 1200px) {
      .formulario {
          padding: 30px 80px;
      }
  }
  @media screen and (max-width: 900px) {
      .header .logo h2 {
          font-size: 40px;
      }
      .formulario {
          padding: 30px;
          width: 65%;
      }
  }
  
  @media screen and (max-width: 480px) {
      .formulario { width: 90%;	}
  }
  
  .error {
      padding: 20px 0;
      display: block;
      text-align: center;
      background-color: #d9534f;
      color: #fff;
      font-weight: bold;
      margin-top: 10px;
  }
  
  .exito {
      padding: 20px 0;
      display: block;
      text-align: center;
      background-color: #5cb85c;
      color: #fff;
      font-weight: bold;
      margin-top: 10px;
  }

  /****compatible****/
  .contenido-info{
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
  }

  .contenido-info img{
      width: 100px;
  }
  .contenido-info h2{
      color: rgba(0, 0, 0, 0.616);
      margin-top: 15px;
      font-size: 20px;
  }
  .contenido-info p{
      line-height: 1.5;
      margin-top: 10px;
      font-size: 16px;
  }

  .contenido-info .boton{
      width: 60%;
      text-decoration: none;
      border-radius: 10px;
      margin: 15px auto 0 auto;
      padding: 10px 5px;
  }